<div id="word_cards-study">
  <p id="word"></p>
  <p id="description"></p>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="button-answer">答えを見る</button>
    <button type="button" class="btn btn-info" id="button-next">次へ</button>
  </div>
</div>