<div id="word_cards-study">
  <h2 id="word"></h2>
  <pre id="description"></pre>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" id="button-answer">答えを見る</button>
    <button type="button" class="btn btn-info" id="button-next">次へ</button>
  </div>
</div>